* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
}

/* NavBar Styling */

#navigation-bar {
    width: 100%;
    display: flex;
    background-color: #262b33;
    justify-content: space-between;
}

.left {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left span {
    width: 40%;
}

.left span img {
    width: 60%;
    margin-left: 1.4rem;
}

.left span h4 {
    color: rgb(211, 211, 211);
    margin-left: -22%;
}

.middle {
    width: 40%;
    display: flex;
    align-items: center;
    margin-left: -25%;
}

.middle ul {
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
    display: flex;
}


.middle ul li a {
    text-decoration: none;
    color: rgb(206, 199, 199);
    transition: .5s;
}

.middle ul li :hover {
    color: rgb(224, 176, 41);
}


.right {
    width: 15%;
    display: flex;
    justify-content: center;
}

.right img {
    margin: 10% 3%;
    cursor: pointer;
}


/* Section-one Styling */


.section-one {
    display: flex;
    width: 100%;
    height: 30rem;
    background-color: #262b33;
    padding-top: 3rem;
    padding-left: 3rem;
}

.section-one-left {
    width: 36%;
}

.section-one h3 {
    color: rgb(228, 221, 221);
    font-size: 1.8rem;
}

.section-one h1 {
    color: white;
    font-size: 5rem;
}

.section-one .yellow-line {
    width: 48%;
    height: 5px;
    border: none;
    border-radius: 2px;
    background-color: rgb(250, 208, 22);
}

.section-one-left p {
    width: 70%;
    color: rgb(228, 221, 221);
    font-size: 1rem;
    margin-top: 1rem;
}

.section-one-middle {
    width: 30%;
    height: 25rem;
    background-color: #3d4149;
    border-radius: 50%;
}

.aaqil img {
    width: 25rem;
    margin-top: 2rem;
    margin-left: 2.5rem;
}

.section-one-right {
    width: 20%;
    color: rgb(228, 221, 221);
    margin-left: 4rem;
    margin-top: 5rem;
}

.right-icons img {
    width: 10%;
    margin-top: 1.5rem;
    margin-right: 10px;
    cursor: pointer;
}

.yellow-text {
    color: yellow;
    margin-top: 1rem;
    cursor: pointer;
}

.para {
    margin-top: 1rem;
    font-weight: 700;
}

/* Center Box Styling */

.center-logo {
    width: 80%;
    background-color: #3d4149;
    padding: 20px 0px;
    position: absolute;
    top: 31rem;
    left: 7.5rem;
    border-radius: 5px;
    box-shadow: 5px 5px 30px black;
}

.center-logo img {
    width: 20%;
    height: 5rem;
    background-color: #262b33;
    margin-left: 40px;
    padding: 20px;
}


    /* Section-two Styling */

.section-two{
    width: 100%;
    background-color: #3d4149;
    display: flex;
    flex-wrap: wrap;
}

.section-two-left{
    margin-left: 3rem;
    width: 45%;
    height: 40rem;
    padding-top: 8rem
}

.section-two-left h2{
    color: white;
    font-size: 3.5rem;

}

.intro{
    color: rgb(228, 221, 221);
    width: 60%;
    font-size: 17px;
    line-height: 2rem;
}

.showcase{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin-top: 20px;
}

.numbers span{
    color: rgb(228, 221, 221);
    font-size: 23px;
}

.numbers{
    color: rgb(236, 204, 22);
    font-size: 28px;
    padding: 10px 0px;
}
.showcase p{
    width: 50%;
}

.section-two-right{
    width: 45%;
    height: 40rem;
    padding-top: 9rem;
    padding-left: 4rem;
}
.section-two-right img{
    width: 25%;
    margin-bottom: 1rem;
    margin-top: 1rem;    
    
}
.section-two-right hr{
    width: 80%;
}
.ui{
    width: 20%;
    color: rgb(228, 221, 221);
    margin-left: 12rem;
    margin-top:2rem;
    position: absolute;
}


.section-two-right span{
    color:rgb(236, 204, 22);
    margin-left: 80%;
}


.section-two-bottom{
    width: 100%;
    display: flex;
    margin-top: 2rem;
    justify-content: space-evenly;
}

.bottom-box-1{
    width: 25%;
    height: 20rem;
    background-color: #262b33;
    padding-left: 2rem;
}
.bottom-box-2{
    width: 25%;
    height: 20rem;
    background-color: #262b33;
    padding-left: 2rem;
}
.bottom-box-3{
    width: 25%;
    height: 20rem;
     background-color: #262b33;
    padding-left: 2rem;
}

.section-two-bottom img{
    width: 4.2rem;
    padding: 15px 15px;
    background-color: #3d4149;
    border-radius: 50%;
    margin: 15px 0px;
}

.section-two-bottom h3{
    font-size: 1.6rem;
    color: white;
}
.section-two-bottom p{
    width: 75%;
    font-size: 18px;
    color: rgb(228, 221, 221) ;
    margin-top: 12px;
    line-height: 1.7rem;
}
footer{
    width: 100%;
    height: 2rem;
    background-color: #3d4149;
}